:root {
    /* fonts */
    --main-font: Roboto;
    --secundary-font: Raleway;
    /* colors */
    --rpimary-color: #FFFFFF;
    --first-section-color: #2F303A;
    --second-section-color: #F5F4FA;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --text-color: #757575;
    --text-studio-color: #000000;
    --accent-second-color: #188CE8;
    /* other */
    --items: 3;
    --indent: 30px;
} 

body {
    background-color: var(--rpimary-color);
    font-family: var(--main-font), sans-serif;
}

ul {
    list-style: none;
    padding-left: 0;
}

button {
    border: none;
    cursor: pointer;
}

h1,
h2,
h3,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

/* сітка з flex-box */

.card-set {
    display: flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--indent) / 2);
}

.card-set-item {
    margin: calc(var(--indent) / 2);
    flex-basis: calc((100% - (var(--items)) * var(--indent)) / var(--items));
}

/* header */
.header-container {
    display: flex;
    align-items: center;
}

.logo {
   color: var(--accent-color);
   text-decoration: none;
   font-family: var(--secundary-font), sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
}

.studio-header {
    color: var(--text-studio-color);
}

.nav-site {
    display: flex;
    margin-left: 93px;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-site .nav-item:not(:last-child) {
    margin-right: 50px;
}
       
.nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.nav-site .current {
    color: var(--accent-color);
}

.nav-contacts {
    display: flex;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-contacts .nav-item:not(:last-child) {
    margin-right: 50px;
}

.header-contacts {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}


.header-contacts:hover,
.header-contacts:focus {
    color: var(--accent-color);
}

/* main */

/* hero */

.section-hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--first-section-color);
    text-align: center;
}

.hero-title {
    margin-left: 237px;
    margin-right: 237px;
    margin-bottom: 30px;
    color: var(--rpimary-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button-hero {
    font-family: inherit;
    color: var(--rpimary-color);
    background-color: var(--accent-color);
    padding: 10px 32px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

.button-hero:hover,
.button-hero:focus {
    color: var(--rpimary-color);
    background-color: var(--accent-second-color);
}

/* features */

.visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
    
}

.section-features {
padding-top: 94px;
}

.features-item {
    --items: 4;
}

.title-feutures {
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.text-feutures {
    color: var(--text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

 /* what-we-do */

.section-what {
    padding-top: 94px;
    padding-bottom: 94px;
}

.title-what {
    margin-bottom: 50px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;      
}

/* team */

.section-team {
    padding-bottom: 94px;
    background-color: var(--second-section-color);
}

.title-team {
    padding-top: 94px;
    margin-bottom: 50px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.03em;      
}

.team-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.site-team {
    --items: 4;
}

.team-name {
    background-color: var(--rpimary-color);
    padding-top: 30px;
    padding-bottom: 30px;
}

.title-team-name {
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em; 
}

.text-team {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

/* portfolio */

.section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.buttons {
    display: flex;
    margin-top: 0;
    margin-bottom: 50px;
    justify-content: center;
}

.btn-portf-item:not(:last-child) {
    margin-right: 8px;
}

.button-portfolio {
    font-family: inherit;
    color: var(--title-text-color);
    background-color: var(--second-section-color);
    border-radius: 4px;
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    
}

.button-portfolio:hover,
.button-portfolio:focus {
   color: var(--rpimary-color); 
   background-color: var(--accent-color);
}

.buttons .current-button {
    color: var(--rpimary-color);
    background-color: var(--accent-color);
}

.item-portfolio {
    border: 1px solid #EEEEEE;
}

.site-name {
    padding: 20px 24px;
}

.title-portfolio {
    margin-bottom: 4px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em; 
}

.text-portfolio {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;  
}

.link-portfolio {
    text-decoration: none;
}

/* футер */

.site-footer {
    margin-top: 0;
    margin-bottom: 0;
}

.footer-cnt-item {
    margin-bottom: 9px;
}

.footer {
    padding: 60px 0;
    background-color: var(--first-section-color);
}

.logo-footer {
    color: var(--rpimary-color);
}

.adress {
    margin-top: 20px;
    margin-bottom: 9px;

    color: var(--rpimary-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-contacts {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--accent-color);
}


